:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --main-heading-color: #ffffff;
  --first-btn-text-color: #ffffff;
  --second-btn-text-color: #212121;
  --header-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --link-text-color: #2196f3;
  --accent-color: #2196f3;
  --dark-background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.footer,
.main-header {
  background-color: var(--dark-background-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo-part-header {
  color: var(--second-logo-color);
}
.logo-part-footer {
  color: var(--third-logo-color);
}
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.header-link:hover,
.header-link:focus,
.header-address-link:focus,
.header-address-link:hover,
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--link-text-color);
}
.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-heading-color);
}
.main-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-text-color);
}
.main-item-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
.main-item-ph {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.main-second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.our-team-heading-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.our-team-ph-item {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-adress-link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.btn-item {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-text-color);
}
.btn-item:hover,
.btn-item:focus {
  color: var(--first-btn-text-color);
}
.portfolio-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.portfolio-ph {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
