:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --main-heading-color: #ffffff;
  --first-btn-text-color: #ffffff;
  --second-btn-text-color: #212121;
  --header-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --link-text-color: #2196f3;
  --accent-color: #2196f3;
  --dark-background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --backgroun-color: #ffffff;
  --background-btn-color: #F5F4FA;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}

} 
li {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.header {
  border-bottom: 1px solid #ECECEC;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  
}

.header-list {
  display: flex;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}

.footer,
.main-header {
  background-color: var(--dark-background-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo-part-header {
  color: var(--second-logo-color);
}
.logo-part-footer {
  color: var(--third-logo-color);
}
.header-logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--link-text-color);
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
}
  
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.header-link:hover,
.header-link:focus,
.header-mail-link:focus,
.header-mail-link:hover,
.header-tel-link:focus,
.header-tel-link:hover,
.footer-mail-link:hover,
.footer-tel-link:focus {
  color: var(--link-text-color);
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-right: 50px;
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.main-header {
  /* display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center; */
}
.main-container {
    display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding-bottom: 200px;
}
.main-heading {
  padding: 200px 300px 30px 300px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-heading-color)
}
.main-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-text-color);
  min-width: 200px;
  height: 50px;
  padding: 10px 32px 10px 32px;
  background-color: var(--accent-color);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.peculiarities-container {
   display: flex;
  padding-top: 94px;
}
.main-list {
  display: flex;
}
.main-item:not(:last-child) {
  margin-right: 30px;
}
.main-item-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
.main-item-ph {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.what-we-do-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
   padding-top: 94px;
   padding-bottom: 94px;
}

.main-second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.what-we-do-list {
  display: flex;
   padding-top: 50px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-container {
    display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
   padding-top: 94px;
   padding-bottom: 94px;
}

.our-team-list {
  display: flex;
   padding-top: 50px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-item {
     display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}


.our-team-heading-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  padding-top: 30px;
}
.our-team-ph-item {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  padding-top: 10px;
  padding-bottom: 30px;
}
.footer-container {
  padding-top: 60px;
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
}

.footer-address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 60px;
}

.f-e:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-tel-link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.footer-mail-link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.button-container {
 
}
.button-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
  color: var(--accent-color);
}

.btn-item {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-text-color);
  background-color: var(--background-btn-color);
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
}
.btn-item:hover,
.btn-item:focus {
  color: var(--first-btn-text-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
  justify-content: center;
  
}
.porfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 20px;
  border-color: #eeeeee;
}
.porfolio-item:nth-child(3n + 0) {
  margin-right: 0;
}

.porfolio-item:nth-child(n + 6) {
  margin-bottom: 0;
}

.img-portfolio {
  display: block;
}

.wrap-text {
 padding: 20px 24px;
 background: #ffffff;
 border: 1px solid #eeeeee;
 border-top: 0;
 box-sizing: border-box;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.portfolio-ph {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}


